* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.first-section {
  height: 100%;
  width: 100%;
}

.first-section header {
  width: 100%;
  height: 800px;
  height: 100vh;
  width: 100%;
  background-image: url(../images/bg-header.png);
  background-position: center;
  background-size: cover;
  padding: 65px 87px;
}

@media (max-width: 576px) {
  .first-section header {
    padding: 40px 30px;
  }
}

.first-section header .header-top {
  margin-bottom: 187px;
}

@media (min-width: 1200px) {
  .first-section header .header-top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: none;
            flex-direction: none;
    gap: 0;
  }
}

.first-section header .header-top .navbar img {
  margin-top: 20px;
}

@media (max-width: 450px) {
  .first-section header .header-top .navbar img {
    display: none;
  }
}

.first-section header .header-top .navbar ul {
  float: right;
  margin-right: 10px;
}

.first-section header .header-top .navbar ul li {
  display: inline-block;
  line-height: 80px;
  margin: 0 20px;
}

.first-section header .header-top .navbar ul li a {
  color: white;
  font-size: 16px;
  line-height: 160%;
  text-decoration: none;
}

.first-section header .header-top .checkbtn {
  font-size: 30px;
  color: white;
  float: right;
  line-height: 80px;
  margin-right: 20px;
  cursor: pointer;
  display: none;
}

.first-section header .header-top #check {
  display: none;
}

@media (max-width: 992px) {
  .first-section header .header-top .checkbtn {
    display: block;
    margin-top: 5px;
  }
  .first-section header .header-top ul {
    position: fixed;
    max-width: 270px;
    min-width: 270px;
    height: 100vh;
    background: #003c4d;
    top: 0px;
    left: -100%;
    text-align: center;
    -webkit-transition: all 1s;
    transition: all 1s;
    z-index: 100000;
    border-radius: 0 20px 20px 0;
  }
  .first-section header .header-top .navbar ul li {
    display: block;
    margin: 50px 0;
    line-height: 30px;
  }
  .first-section header .header-top .navbar ul li a {
    font-size: 20px;
  }
  .first-section header .header-top #check:checked ~ ul {
    left: 0;
  }
}

@media (max-width: 1200px) {
  .first-section header .header-top .header-top-images img {
    display: none;
  }
}

.first-section h1 {
  font-weight: 700;
  font-size: 56px;
  line-height: 120%;
  color: #fff;
  opacity: none;
  text-decoration: none;
}

@media (max-width: 900px) {
  .first-section h1 {
    font-weight: 700;
    font-size: 46px;
    line-height: 120%;
    color: #fff;
    opacity: none;
    text-decoration: none;
  }
}

@media (max-width: 470px) {
  .first-section h1 {
    font-weight: 700;
    font-size: 36px;
    line-height: 120%;
    color: #fff;
    opacity: none;
    text-decoration: none;
  }
}

.position-div {
  height: 280px;
  width: 1266px;
  background: #AB0433;
  border-radius: 10px;
  position: relative;
  top: -120px;
  left: calc(50% - 633px);
  text-align: center;
  padding: 32px;
  color: white;
}

@media (max-width: 1300px) {
  .position-div {
    height: 280px;
    width: 1000px;
    left: calc(50% - 500px);
  }
}

@media (max-width: 1060px) {
  .position-div {
    height: 200px;
    width: 700px;
    left: calc(50% - 350px);
  }
}

@media (max-width: 750px) {
  .position-div {
    height: 200px;
    width: 300px;
    left: calc(50% - 150px);
  }
}

.position-div h2 {
  font-weight: 700;
  font-size: 46px;
  line-height: 120%;
  color: none;
  opacity: none;
  text-decoration: none;
  margin-bottom: 4px;
}

@media (max-width: 1060px) {
  .position-div h2 {
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 30px;
    line-height: 120%;
    color: none;
    opacity: none;
    text-decoration: none;
  }
}

.position-div p {
  font-weight: 600;
  font-size: 24px;
  line-height: 149%;
  color: none;
  opacity: none;
  text-decoration: none;
  margin-bottom: 16px;
}

@media (max-width: 1060px) {
  .position-div p {
    font-weight: 600;
    font-size: 20px;
    line-height: 120%;
    color: none;
    opacity: none;
    text-decoration: none;
  }
}

@media (max-width: 1060px) {
  .position-div p {
    display: none;
  }
}

.position-div button {
  background: #FF753A;
  border-radius: 32px;
  padding: 8px 16px;
  border: 0;
  font-weight: 600;
  font-size: 14px;
  line-height: 130%;
  color: #fff;
  opacity: none;
  text-decoration: none;
}

.bottom-box {
  margin: 0px auto;
  padding: 0 88px 88px 88px;
  height: 100%;
  width: 100%;
}

@media (max-width: 1050px) {
  .bottom-box {
    padding: 22px;
  }
}

.bottom-box .line {
  height: 5px;
  width: 80px;
  margin: 0 auto;
  background-color: #AB0433;
}

.bottom-box h1 {
  font-weight: 700;
  font-size: 40px;
  line-height: 120%;
  color: #505050;
  opacity: none;
  text-decoration: none;
  text-align: center;
  margin-bottom: 18px;
}

.bottom-box .gitaralar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: none;
          flex-direction: none;
  gap: 30px;
}

@media (max-width: 1300px) {
  .bottom-box .gitaralar {
    margin: 0 auto;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (400px)[2];
        grid-template-columns: repeat(2, 400px);
    -ms-grid-rows: 417px;
        grid-template-rows: 417px;
    gap: 30px;
  }
}

@media (max-width: 900px) {
  .bottom-box .gitaralar {
    margin: 0 auto;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (400px)[1];
        grid-template-columns: repeat(1, 400px);
    -ms-grid-rows: 417px;
        grid-template-rows: 417px;
    gap: 30px;
  }
}

.bottom-box .gitaralar .gitara:last-child {
  display: none;
}

@media (max-width: 1300px) {
  .bottom-box .gitaralar .gitara:last-child {
    display: block;
  }
}

.bottom-box .gitaralar .gitara {
  margin: 70px auto;
  height: 417px;
  width: 400px;
}

@media (max-width: 700px) {
  .bottom-box .gitaralar .gitara {
    margin: 50px auto;
    height: 317px;
    width: 300px;
  }
}

.bottom-box .gitaralar .gitara .texts {
  height: 139px;
  width: 100%;
  padding: 16px 24px 26px 24px;
}

.bottom-box .gitaralar .gitara .texts div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.bottom-box .gitaralar .gitara .texts div h3 {
  font-size: 18px;
  margin-bottom: 8px;
}

.bottom-box .gitaralar .gitara .texts p {
  font-size: 16px;
  margin-bottom: 38px;
  color: #767676;
}

.bottom-box .gitaralar .gitara .texts span {
  font-size: 12px;
  color: #505050;
}

.bottom-box .gitaralar .gitara .texts span::before {
  content: '0';
  color: black;
  font-weight: bold;
}

.bottom-box .gitaralar .gitara img {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 417px;
  width: 400px;
}

@media (max-width: 700px) {
  .bottom-box .gitaralar .gitara img {
    height: 317px;
    width: 300px;
  }
}

.second-section {
  margin-top: 100px;
  padding: 88px;
  background-color: #cecece;
}

.second-section .line {
  margin: 15px auto;
  height: 3px;
  width: 80px;
  background-color: #AB0433;
}

.second-section h2 {
  text-align: center;
  margin-bottom: 42px;
  font-weight: 700;
  font-size: 40px;
  line-height: 130%;
  color: #505050;
  opacity: none;
  text-decoration: none;
}

@media (max-width: 440px) {
  .second-section h2 {
    font-weight: 700;
    font-size: 25px;
    line-height: 130%;
    color: #505050;
    opacity: none;
    text-decoration: none;
  }
}

.second-section .third-section-blog {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: none;
          flex-direction: none;
  gap: 30px;
}

@media (max-width: 1200px) {
  .second-section .third-section-blog {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (400px)[2];
        grid-template-columns: repeat(2, 400px);
    -ms-grid-rows: 417px;
        grid-template-rows: 417px;
    gap: 30px;
  }
}

@media (max-width: 900px) {
  .second-section .third-section-blog {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (400px)[1];
        grid-template-columns: repeat(1, 400px);
    -ms-grid-rows: 417px;
        grid-template-rows: 417px;
    gap: 30px;
  }
}

.second-section .third-section-blog .third-section-blog-item:last-child {
  display: none;
}

@media (max-width: 1200px) {
  .second-section .third-section-blog .third-section-blog-item:last-child {
    display: block;
  }
}

.second-section .third-section-blog .third-section-blog-item {
  height: 417px;
  width: 400px;
  background-color: #fff;
  border-radius: 10px;
  padding: 24px 24px;
}

@media (max-width: 440px) {
  .second-section .third-section-blog .third-section-blog-item {
    margin: auto;
    height: 417px;
    width: 300px;
  }
}

@media (max-width: 440px) {
  .second-section .third-section-blog .third-section-blog-item img {
    height: 217px;
    width: 250px;
  }
}

.second-section .third-section-blog .third-section-blog-item h5 {
  margin: 28px 0 6px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: none;
          flex-direction: none;
  gap: 30px;
  font-weight: 600;
  font-size: 18px;
  line-height: 130%;
  color: #252525;
  opacity: none;
  text-decoration: none;
}

.second-section .third-section-blog .third-section-blog-item p {
  font-weight: 500;
  font-size: 16px;
  line-height: 130%;
  color: #767676;
  opacity: none;
  text-decoration: none;
  margin-bottom: 10px;
}

.second-section .third-section-blog .third-section-blog-item > span {
  border: 1px solid #000;
  padding: 5px;
  border-radius: 30px;
  font-weight: 700;
  font-size: 12px;
  line-height: 150%;
  color: #505050;
  opacity: none;
  text-decoration: none;
}

.third-section {
  padding: 88px;
  background-color: #fff;
}

.third-section .line {
  margin: 10px auto;
  height: 3px;
  width: 80px;
  background-color: #AB0433;
}

.third-section h2 {
  text-align: center;
  margin-bottom: 48px;
  font-weight: 700;
  font-size: 40px;
  line-height: 120%;
  color: #505050;
  opacity: none;
  text-decoration: none;
}

.third-section .third-section-top,
.third-section .third-section-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: none;
          flex-direction: none;
  gap: 32px;
}

.third-section .third-section-top .third-section-top-box,
.third-section .third-section-top .third-section-bottom-box:nth-child(odd),
.third-section .third-section-bottom .third-section-top-box,
.third-section .third-section-bottom .third-section-bottom-box:nth-child(odd) {
  background-color: #252525;
  border-radius: 10px;
  margin-bottom: 48px;
}

.third-section .third-section-top .third-section-top-box h5,
.third-section .third-section-top .third-section-bottom-box:nth-child(odd) h5,
.third-section .third-section-bottom .third-section-top-box h5,
.third-section .third-section-bottom .third-section-bottom-box:nth-child(odd) h5 {
  margin: 32px 32px 4px 32px;
  font-weight: 700;
  font-size: 24px;
  line-height: 130%;
  color: #fff;
  opacity: none;
  text-decoration: none;
}

.third-section .third-section-top .third-section-top-box p,
.third-section .third-section-top .third-section-bottom-box:nth-child(odd) p,
.third-section .third-section-bottom .third-section-top-box p,
.third-section .third-section-bottom .third-section-bottom-box:nth-child(odd) p {
  margin: 0 32px 32px 32px;
  font-weight: 600;
  font-size: 18px;
  line-height: 130%;
  color: #c4c4c4;
  opacity: none;
  text-decoration: none;
}

.third-section .third-section-top .third-section-top-box,
.third-section .third-section-top .third-section-bottom-box:nth-child(even),
.third-section .third-section-bottom .third-section-top-box,
.third-section .third-section-bottom .third-section-bottom-box:nth-child(even) {
  background: #EAEAEA;
  border-radius: 10px;
  margin-bottom: 48px;
}

.third-section .third-section-top .third-section-top-box h5,
.third-section .third-section-top .third-section-bottom-box:nth-child(even) h5,
.third-section .third-section-bottom .third-section-top-box h5,
.third-section .third-section-bottom .third-section-bottom-box:nth-child(even) h5 {
  margin: 32px 32px 4px 32px;
  font-weight: 700;
  font-size: 24px;
  line-height: 130%;
  color: #202020;
  opacity: none;
  text-decoration: none;
}

.third-section .third-section-top .third-section-top-box p,
.third-section .third-section-top .third-section-bottom-box:nth-child(even) p,
.third-section .third-section-bottom .third-section-top-box p,
.third-section .third-section-bottom .third-section-bottom-box:nth-child(even) p {
  margin: 0 32px 32px 32px;
  font-weight: 600;
  font-size: 18px;
  line-height: 130%;
  color: #767676;
  opacity: none;
  text-decoration: none;
}

@media (max-width: 1300px) {
  .third-section .third-section-top {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (auto)[1];
        grid-template-columns: repeat(1, auto);
    -ms-grid-rows: auto;
        grid-template-rows: auto;
    gap: 30px;
  }
}

.third-section .third-section-top img {
  height: auto;
  width: 400px;
}

@media (max-width: 440px) {
  .third-section .third-section-top img {
    height: auto;
    width: 300px;
  }
}

@media (max-width: 1300px) {
  .third-section .third-section-bottom {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (auto)[2];
        grid-template-columns: repeat(2, auto);
    -ms-grid-rows: auto;
        grid-template-rows: auto;
    gap: 30px;
  }
}

@media (max-width: 880px) {
  .third-section .third-section-bottom {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (auto)[1];
        grid-template-columns: repeat(1, auto);
    -ms-grid-rows: auto;
        grid-template-rows: auto;
    gap: 30px;
  }
}

.third-section .third-section-bottom img {
  height: auto;
  width: 400px;
}

@media (max-width: 440px) {
  .third-section .third-section-bottom img {
    height: auto;
    width: 300px;
  }
}

.third-section .third-section-bottom .third-section-bottom-box:last-child {
  display: none;
}

@media (max-width: 1300px) {
  .third-section .third-section-bottom .third-section-bottom-box:last-child {
    display: block;
  }
}

/*
0px        576px   --> phone
576px      768px   --> tab
768px      992px   --> desktop
992px      1200px  --> lgdesktop
1200px     "...px" --> normal-style
*/
/*# sourceMappingURL=main.css.map */