* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

 @import "../section/first-section";
 @import "../section/second-section";
 @import "../section/third-section";
 @import "../section/fourth-section";