* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


@mixin heigthvswidth ($heigth, $width) {
    height: $heigth;
    width: $width;
}

@mixin font($fontweigth, $fontsize, $lineheigth, $color, $opacity, $textdecoration) {
    font-weight: $fontweigth;
    font-size: $fontsize;
    line-height: $lineheigth;
    color: $color;
    opacity: $opacity;
    text-decoration: $textdecoration;
}

@mixin display ($displayflex, $alignitem, $justifycontent, $flexdirection, $gap) {
    display: $displayflex;
    align-items: $alignitem;
    justify-content: $justifycontent;
    flex-direction: $flexdirection;
    gap: $gap;
}

@mixin grid ($display, $split, $num, $row, $grid-gap) {
    display: grid;
    grid-template-columns: repeat($split, $num);
    grid-template-rows: $row;
    gap: $grid-gap;
}

 @import "../section/first-section";
 @import "../section/second-section";
 @import "../section/third-section";
 @import "../footer/footer";
