* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.first-section {
  height: 100%;
  width: 100%;
}

.first-section header {
  width: 100%;
  height: 800px;
  height: 100vh;
  width: 100%;
  background-image: url(../images/bg-header.png);
  background-position: center;
  background-size: cover;
  padding: 65px 87px;
}

.first-section header .header-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: none;
          flex-direction: none;
  gap: 0;
  margin-bottom: 187px;
}

.first-section header .header-top div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: none;
      -ms-flex-pack: none;
          justify-content: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: none;
          flex-direction: none;
  gap: 39px;
}

.first-section header .header-top div nav, .first-section header .header-top div a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: none;
      -ms-flex-pack: none;
          justify-content: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: none;
          flex-direction: none;
  gap: 56px;
  font-weight: 600;
  font-size: 18px;
  line-height: 120%;
  color: #fff;
  opacity: none;
  text-decoration: none;
}

.first-section h1 {
  font-weight: 700;
  font-size: 56px;
  line-height: 120%;
  color: #fff;
  opacity: none;
  text-decoration: none;
}

.position-div {
  height: 280px;
  width: 1266px;
  background: #AB0433;
  border-radius: 10px;
  position: relative;
  top: -120px;
  left: calc(50% - 633px);
  text-align: center;
  padding: 32px;
  color: white;
}

.position-div h2 {
  font-weight: 700;
  font-size: 46px;
  line-height: 120%;
  color: none;
  opacity: none;
  text-decoration: none;
  margin-bottom: 4px;
}

.position-div p {
  font-weight: 600;
  font-size: 24px;
  line-height: 149%;
  color: none;
  opacity: none;
  text-decoration: none;
  margin-bottom: 16px;
}

.position-div button {
  background: #FF753A;
  border-radius: 32px;
  padding: 8px 16px;
  border: 0;
  font-weight: 600;
  font-size: 14px;
  line-height: 130%;
  color: #fff;
  opacity: none;
  text-decoration: none;
}

.bottom-box {
  height: 10%;
  width: 100%;
  padding: 0px 88px 88px 88px;
}

.bottom-box .line {
  height: 5px;
  width: 80px;
  margin: 0 auto;
  background-color: #AB0433;
}

.bottom-box h1 {
  font-weight: 700;
  font-size: 40px;
  line-height: 120%;
  color: #505050;
  opacity: none;
  text-decoration: none;
  text-align: center;
  margin-bottom: 18px;
}

.bottom-box .gitaralar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.bottom-box .gitaralar .gitara {
  width: 400.67px;
}

.bottom-box .gitaralar .gitara .texts {
  height: 139px;
  width: 100%;
  padding: 16px 24px 26px 24px;
}

.bottom-box .gitaralar .gitara .texts div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.bottom-box .gitaralar .gitara .texts div h3 {
  font-size: 18px;
  margin-bottom: 8px;
}

.bottom-box .gitaralar .gitara .texts p {
  font-size: 16px;
  margin-bottom: 38px;
  color: #767676;
}

.bottom-box .gitaralar .gitara .texts span {
  font-size: 12px;
  color: #505050;
}

.bottom-box .gitaralar .gitara .texts span::before {
  content: '0';
  color: black;
  font-weight: bold;
}

.second-section {
  padding: 88px;
  background-color: #cecece;
}

.second-section .line {
  margin: 15px auto;
  height: 3px;
  width: 80px;
  background-color: #AB0433;
}

.second-section h2 {
  text-align: center;
  margin-bottom: 42px;
  font-weight: 700;
  font-size: 40px;
  line-height: 130%;
  color: #505050;
  opacity: none;
  text-decoration: none;
}

.second-section .third-section-blog {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: none;
          flex-direction: none;
  gap: 30px;
}

.second-section .third-section-blog .third-section-blog-item {
  height: 417px;
  width: 400px;
  background-color: #fff;
  border-radius: 10px;
  padding: 24px 24px;
}

.second-section .third-section-blog .third-section-blog-item h5 {
  margin: 28px 0 6px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: none;
          flex-direction: none;
  gap: 30px;
  font-weight: 600;
  font-size: 18px;
  line-height: 130%;
  color: #252525;
  opacity: none;
  text-decoration: none;
}

.second-section .third-section-blog .third-section-blog-item p {
  font-weight: 500;
  font-size: 16px;
  line-height: 130%;
  color: #767676;
  opacity: none;
  text-decoration: none;
  margin-bottom: 10px;
}

.second-section .third-section-blog .third-section-blog-item > span {
  border: 1px solid #000;
  padding: 5px;
  border-radius: 30px;
  font-weight: 700;
  font-size: 12px;
  line-height: 150%;
  color: #505050;
  opacity: none;
  text-decoration: none;
}

.third-section {
  padding: 88px;
  background-color: #fff;
}

.third-section .line {
  margin: 10px auto;
  height: 3px;
  width: 80px;
  background-color: #AB0433;
}

.third-section h2 {
  text-align: center;
  margin-bottom: 48px;
  font-weight: 700;
  font-size: 40px;
  line-height: 120%;
  color: #505050;
  opacity: none;
  text-decoration: none;
}

.third-section .third-section-top,
.third-section .third-section-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: none;
          flex-direction: none;
  gap: 32px;
}

.third-section .third-section-top .third-section-top-box,
.third-section .third-section-top .third-section-bottom-box:nth-child(odd),
.third-section .third-section-bottom .third-section-top-box,
.third-section .third-section-bottom .third-section-bottom-box:nth-child(odd) {
  background-color: #252525;
  border-radius: 10px;
  margin-bottom: 48px;
}

.third-section .third-section-top .third-section-top-box h5,
.third-section .third-section-top .third-section-bottom-box:nth-child(odd) h5,
.third-section .third-section-bottom .third-section-top-box h5,
.third-section .third-section-bottom .third-section-bottom-box:nth-child(odd) h5 {
  margin: 32px 32px 4px 32px;
  font-weight: 700;
  font-size: 24px;
  line-height: 130%;
  color: #fff;
  opacity: none;
  text-decoration: none;
}

.third-section .third-section-top .third-section-top-box p,
.third-section .third-section-top .third-section-bottom-box:nth-child(odd) p,
.third-section .third-section-bottom .third-section-top-box p,
.third-section .third-section-bottom .third-section-bottom-box:nth-child(odd) p {
  margin: 0 32px 32px 32px;
  font-weight: 600;
  font-size: 18px;
  line-height: 130%;
  color: #c4c4c4;
  opacity: none;
  text-decoration: none;
}

.third-section .third-section-top .third-section-top-box,
.third-section .third-section-top .third-section-bottom-box:nth-child(even),
.third-section .third-section-bottom .third-section-top-box,
.third-section .third-section-bottom .third-section-bottom-box:nth-child(even) {
  background: #EAEAEA;
  border-radius: 10px;
  margin-bottom: 48px;
}

.third-section .third-section-top .third-section-top-box h5,
.third-section .third-section-top .third-section-bottom-box:nth-child(even) h5,
.third-section .third-section-bottom .third-section-top-box h5,
.third-section .third-section-bottom .third-section-bottom-box:nth-child(even) h5 {
  margin: 32px 32px 4px 32px;
  font-weight: 700;
  font-size: 24px;
  line-height: 130%;
  color: #202020;
  opacity: none;
  text-decoration: none;
}

.third-section .third-section-top .third-section-top-box p,
.third-section .third-section-top .third-section-bottom-box:nth-child(even) p,
.third-section .third-section-bottom .third-section-top-box p,
.third-section .third-section-bottom .third-section-bottom-box:nth-child(even) p {
  margin: 0 32px 32px 32px;
  font-weight: 600;
  font-size: 18px;
  line-height: 130%;
  color: #767676;
  opacity: none;
  text-decoration: none;
}

/*
0px        576px   --> phone
576px      768px   --> tab
768px      992px   --> desktop
992px      1200px  --> lgdesktop
1200px     "...px" --> normal-style
*/
/*# sourceMappingURL=main.css.map */