.third-section {
    padding: 88px;
    background-color: #fff;

    .line {
        margin: 10px auto;
        @include heigthvswidth ($heigth: 3px, $width: 80px);
        background-color: #AB0433; 
    }

    h2 {
        text-align: center;
        margin-bottom: 48px;
        @include font($fontweigth: 700, $fontsize: 40px, $lineheigth: 120%, $color: #505050, $opacity: none, $textdecoration: none);  
    }

    .third-section-top,
    .third-section-bottom {
        @include display ($displayflex: flex, $alignitem: center, $justifycontent: center, $flexdirection: none, $gap: 32px);

       

        .third-section-top-box,
        .third-section-bottom-box:nth-child(odd) {
            background-color: #252525;
            border-radius: 10px;
            margin-bottom: 48px;

            h5 {
                margin: 32px 32px 4px 32px;
                @include font($fontweigth: 700, $fontsize: 24px, $lineheigth: 130%, $color: #fff, $opacity: none, $textdecoration: none);  
            }

            p {
                margin: 0 32px 32px 32px;
                @include font($fontweigth: 600, $fontsize: 18px, $lineheigth: 130%, $color: #c4c4c4, $opacity: none, $textdecoration: none);  
 
            }
        }

        .third-section-top-box,
        .third-section-bottom-box:nth-child(even) {
            background: #EAEAEA;
            border-radius: 10px;
            margin-bottom: 48px;

            h5 {
                margin: 32px 32px 4px 32px;
                @include font($fontweigth: 700, $fontsize: 24px, $lineheigth: 130%, $color: #202020, $opacity: none, $textdecoration: none);  
            }

            p {
                margin: 0 32px 32px 32px;
                @include font($fontweigth: 600, $fontsize: 18px, $lineheigth: 130%, $color: #767676, $opacity: none, $textdecoration: none);  
 
            }
        }
    }

    .third-section-top {
        @media (max-width: 1300px) {
            @include grid ($display: grid, $split: 1, $num: auto, $row: auto, $grid-gap: 30px);
        }

        img {
            @include heigthvswidth ($heigth: auto, $width: 400px);

            @media (max-width: 440px) {
                @include heigthvswidth ($heigth: auto, $width: 300px);
            }
        }
    }
    .third-section-bottom {
        @media (max-width: 1300px) {
            @include grid ($display: grid, $split: 2, $num: auto, $row: auto, $grid-gap: 30px);
        }

        @media (max-width: 880px) {
            @include grid ($display: grid, $split: 1, $num: auto, $row: auto, $grid-gap: 30px);
        }

        img {
            @include heigthvswidth ($heigth: auto, $width: 400px);

            @media (max-width: 440px) {
                @include heigthvswidth ($heigth: auto, $width: 300px);
            }
        }

        .third-section-bottom-box:last-child {
            display: none;

            @media (max-width: 1300px) {
                display: block;
            }
        }
    }
}   





